[submodule "themes/hugo-plain-theme"]
	path = themes/hugo-plain-theme
	url = https://github.com/hiAndrewQuinn/hugo-plain-theme.git
[submodule "static/css/simple.css"]
	path = static/css/simple.css
	url = https://github.com/kevquirk/simple.css.git
